*~
*.bak
*.pem
*.key
*.swp
data/dhcp/dhcpd.conf
data/dhcp/dhcpd.leases*
data/dhcp6/dhcpd6.conf
data/dhcp6/dhcpd6.leases*
data/dnsmasq/hosts.conf
data/tftproot/*
!data/tftproot/README
data/www/htdocs/*
!data/www/htdocs/index.html
