# The target network interface
# ex: eth0
IFACE=__IFACE__

# The prefix of IPv4 addresses
# ex: 192.168.110
IP4_PREFIX=__IP4_PREFIX__

# The prefix of IPv6 addresses
# ex: 2001:db8:f00f:cafe::
IP6_PREFIX=__IP6_PREFIX__

# The path to the PXE bootloader
# ex: /path/to/boot.efi
PXE_URI=__PXE_URI__

# The default name of the server
# ex: www.httpboot.local
SERVER_NAME=__SERVER_NAME__

# The URI to the HTTPBoot IPv4 bootloader
# ex: http://192.168.110.1/path/to/boot.efi or
#     http://www.httpboot.local/path/to/boot.efi
HTTPBOOT_URI=__HTTPBOOT_URI__

# The URI to the HTTPBoot IPv6 bootloader
# ex: http://[2001:db8:f00f:cafe::1]/path/to/boot.efi or
#     http://www.httpboot.local/path/to/boot.efi
HTTPBOOT6_URI=__HTTPBOOT6_URI__

# Whether to enable HTTPS or not
# TRUE/FALSE
HTTPS=__HTTPS__

# The key for HTTPS in data/lighttpd/
# ex: server.pem
SERVER_KEY=__SERVER_KEY__
