timeout=60
default=0

prefix=/opensuse

menuentry 'Installation' --class opensuse --class gnu-linux --class gnu --class os {
  set gfxpayload=keep
  echo 'Loading kernel ...'
  linuxefi $prefix/boot/x86_64/loader/linux install=http://www.httpboot.local/$prefix/
  echo 'Loading initial ramdisk ...'
  initrdefi $prefix/boot/x86_64/loader/initrd
}

menuentry 'Installation IPv6 Only' --class opensuse --class gnu-linux --class gnu --class os {
  set gfxpayload=keep
  echo 'Loading kernel ...'
  linuxefi $prefix/boot/x86_64/loader/linux install=http://www.httpboot.local/$prefix/ ipv6only=1 ifcfg=*=dhcp6,DHCLIENT6_MODE=managed
  echo 'Loading initial ramdisk ...'
  initrdefi $prefix/boot/x86_64/loader/initrd
}

menuentry 'Upgrade' --class opensuse --class gnu-linux --class gnu --class os {
  set gfxpayload=keep
  echo 'Loading kernel ...'
  linuxefi $prefix/boot/x86_64/loader/linux splash=silent upgrade=1 install=http://www.httpboot.local/$prefix/
  echo 'Loading initial ramdisk ...'
  initrdefi $prefix/boot/x86_64/loader/initrd
}

menuentry 'Rescue System' --class opensuse --class gnu-linux --class gnu {
  set gfxpayload=keep
  echo 'Loading kernel ...'
  linuxefi $prefix/boot/x86_64/loader/linux splash=silent rescue=1 install=http://www.httpboot.local/$prefix/
  echo 'Loading initial ramdisk ...'
  initrdefi $prefix/boot/x86_64/loader/initrd
}
